<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Fortune Coockie</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar flex">
        <div class="left flex">
            <div class="logobox">
                <img class="logo" src="{{ url_for('static', filename='images/fortune-cookie.svg') }}" alt="Fortune Cookie">
            </div>
            <div class="name">
                <h2 class="fontcolor">Fortune Coockie</h2>
            </div>
        </div>
        <div class="right flex">
            <ul class="flex">
                <li><a class="fontcolor li" href="#">Home</a></li>
                <li><a class="fontcolor li" href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>