{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <section class="center">
        <div class="daily">RANDOM COOCKIE</div>
        <div class="box">
            <div class="text fontcolor">tEXT</div>
            <div class="bottom-row">
                <div class="author fontcolor">- aUTHOR</div>
            </div>
        </div>
        <div class="btn-box">
                <button class="roll-btn"><a href="/random">Roll for Fortune!</a></button>
        </div>
    </section>
{% endblock %}