.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 800px;
    height: 300px;
    background: #393f4d;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.text {
    font-size: 20px;
    height: 240px;
    overflow: hidden;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-row {
    display: flex;
    justify-content: right;

    margin-right: 30px;
}

.author{
    font-size: 25px;
}

.roll-btn {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 10px;
    background: #feda6a;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
